body{
background: linear-gradient(
 to right,#407294 81.5%, #407294 81.5%, black 0%, black 100%);
overflow: hidden;
}

button {
background-color: midnightblue;
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px 5px;
}

button:hover{
background-color: royalblue;
}

mark{
background-color: orange;
color: black;
}

.img-one{
width: 700px;
height: 450px;
padding-top: 5%;
padding-left: 53%;
}

