body{
margin: 0;
padding: 0;
font-family: "Times New Roman";
background: linear-gradient(
 to right,#407294 81.5%, #407294 81.5%, black 0%, black 100%);
overflow: hidden;
min-width: 1100px;
min-height: 800px;
}

.nav-bar{
display: flex;
background-color: transparent;
}

.nav-logo h1{
font-size:  1.7em;
font-weight: bold;
color: #1d3557;
padding: 0px 10px;
}

.nav-logo h1:hover{
background-color: transparent;
color: lightgray;
}

.nav-links{
flex: 1;
text-align: right;
}

.nav-links ul li{
display: inline-block;
padding: 5px 9px;
}

.nav-links ul a{
font-size: 20px;
color: white;
padding-right: 10px;
}

.nav-links ul a:hover{
background-color: transparent;
color: lightgray;
}

.main{
width: 100%;
padding-top: 10%;
position: absolute;
text-align: left;
float: none;
padding-left: 4%;
color: white;
}

h1{
font-size: 55px;
color: white;
}

.nav-logo a {
text-decoration: none;
}

button {
background-color: midnightblue;
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px 5px;
}

button:hover{
background-color: royalblue;
}

mark{
background-color: orange;
color: black;
}

.img-one{
width: 400px;
height: 550px;
padding-top: 1%;
padding-left: 66%;
}


.btn {
border-radius: 26.5px;
background-color: darkblue;
border: none;
color: white;
font-size: 14px;
line-height: 23px;
padding: 7px 15px;
position: fixed;
bottom: 20px;
right: 16px;
}

.btn:hover {
background-color: deepskyblue;
color: white;
}