body{
margin: 0;
padding: 0;
font-family: "Times New Roman";
background: linear-gradient(
    to right, skyblue 25.3%, skyblue 25.3%, black 0%, black 100%
)
}

.nav-bar{
display: flex;
padding: 3px 3px;
background-color: transparent;

}

.nav-logo h1{
font-size:  1.8em;
font-weight: bold;
color: #1d3557;
padding-left: 15px;
padding-top: 2px;
}

.nav-links{
flex: 1;
text-align: right;
}

.nav-links ul li{
display: inline-block;
padding: 12px 11px;
}

.nav-links ul a{
font-size: 20px;
color: white;
}

.main{
width: 100%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;
text-align: center;
font-family: serif;
}

h1{
font-size: 60px;
color: white;
}

br2{
font-size: 15px;
color: white;
}